.section-title {
  margin-top: 20px;
}

.carousel {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.carousel-card {
  display: inline-block;
  background: linear-gradient(to right bottom, blue, violet);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.carousel-card:hover {
  transform: scale(101%);
}