.section-title {
  margin-top: 20px;
  font-size: 1.4em;
}

.my-courses .carousel {
  margin-top: 30px;
  display: flex;
  overflow: hidden;
}

.my-courses .carousel-card {
  background: linear-gradient(to right bottom, blue, rgb(0, 0, 118));
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
  min-width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .2s;
  text-align: center;
  color: #FFF;
}

.my-courses .carousel-card h3 {
  font-size: 1.3em;
  margin-top: 70%;
  transform: translateY(-70%);
  color: #FFF;
}

.my-courses .carousel-card span {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-card:hover {
  transform: scale(110%);
}