@media screen and (min-width: 1200px) {
  aside {
    max-width: 20%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  aside {
    max-width: 25%;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
  aside {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .topbar {
    margin: 10px 0;
  }

  .topbar .user-welcome {
    display: none;
  }

  .main {
    width: 100%;
  }

  .my-courses {
    width: 90%;
    margin: auto;
  }
}